%h2
  =link_to icon_and_filename_for(document), download_document_path(document.probably_unique_id)
  %small=number_to_percentage(document.score*100, :precision=>1)
=highlight_matching_content(document)
%p=link_to_containing_directory(document)
- if document.supported?
  %p
    =link_to_plain_text_content(document)
    =link_to_cached_content(document)
%hr/