-content_for :info_bar do
  .info_bar
    %p
      -if nothing_found? then
        %span{:class=>'pagination'}=link_to_backup_search_engine(h(@query))
        =:nothing_found_for.l
        %strong=h(@query)
        =show_time_needed(@time_needed)
      -else
        %span{:class=>'pagination'}=should_paginate(@matching_documents, @query, @sort)
        =describe_results(@matching_documents, @total_hits, @time_needed, h(@query))
-unless nothing_found?
  %p
    %span{:class=>'sort_by'}=sort_by_date_or_relevance(@query)
= render :partial =>'document', :collection => @matching_documents, :locals => { :query => @query}