lib/picolena/templates/LICENSE
lib/picolena/templates/README
lib/picolena/templates/config/custom
lib/picolena/templates/doc
lib/picolena/templates/log
lib/picolena/templates/spec/test_dirs/indexed/others/bäñüßé.txt
lib/picolena/templates/tmp
lib/picolena/templates/vendor
doc
pkg
website/index.html
*.swp
