%h2
  =link_to icon_and_filename_for(result), download_document_path(result.md5)
  %small=number_to_percentage(result.score*100, :precision=>1)
=highlight_matching_content(result)
%p=link_to_containing_directory(result)
%hr/