/* For Mozilla and Safari */
*>#content.wiki, 
*>#content.report, 
*>#content.ticket, 
*>#content.browser {
        margin: 0px 140px 0 0px;
        text-align: left;
        min-height: 550px;
}

*>#content.report, 
*>#content.ticket, 
*>#content.browser { min-height: 590px; }

/* For IE */
* html #content.wiki,
* html #content.report,
* html #content.ticket,
* html #content.browser {
        margin: 0px 140px 0 0px;
        text-align: left;
        height: 550px;
}

* html #content.report, 
* html #content.ticket, 
* html #content.browser { min-height: 590px; }

#ads {
        position: absolute;
        top: 140px;
        right: 10px;
        width: 140px;
        z-index: 1;
        text-align: right;               
}
