%h2
  =link_to icon_and_filename_for(document), download_document_path(document.md5)
  %small=number_to_percentage(document.score*100, :precision=>1)
=highlight_matching_content(document)
%p=link_to_containing_directory(document)
%p=link_to_plain_text_content(document)
%hr/